<app-search (send)="filter($event)"></app-search>

<table>
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>empID</th>
            <th>empName</th>
            <th>empActive</th>
            <th>emp_dpID</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employees of list">
            <td><a href="/employees/{{ employees.empID }}/more">View</a></td>
            <td><a href="/employees/{{ employees.empID }}/edit">Edit</a></td>
            <td>{{ employees.empID }}</td>
            <td>{{ employees.empName }}</td>
            <td>{{ employees.empActive }}</td>
            <td>{{ employees.emp_dpID }}</td>
            <td><a href="/employees/{{ employees.empID }}/delete">Delete</a></td>
        </tr>
    </tbody>
</table>

<button class="create-btn" (click)="create()">Створити</button>